@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body  {
    background-color: #F9FCFD;
    color: #124f54;
    font-family: "Varela Round", sans-serif;
}

.FromRow {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0;
}

.FromRowSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

.FromRow input {
    margin: 0.2rem 0;
}

.FormCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form {
    min-width: 10rem;
    max-width: 25rem;
    width: 40%;
}

.Input {
    background-color: #C9EFF9;
    color: #124f54;
    font-family: "Varela Round", sans-serif;
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    border: solid 3px #07A4B5;
}

.Button {
    background-color: #07A4B5;
    color: #C9EFF9;
    font-family: "Varela Round", sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: solid 3px #124f54;
}

.Button:hover {
    background-color: #0796a4;
}

.Button:active {
    background-color: #068591;
}

.Error {
    color: #702727;
}